{% extends 'MobileCartAdminBundle::Widgets/Template/index.html.twig' %}
{% block header_text %}Variants{% endblock %}
{% block form_action %}{{ path('cart_admin_item_var') }}{% endblock %}
{% block header_buttons %}
    <a class="btn btn-success" href="{{ path('cart_admin_item_var_new') }}">Create</a>
{% endblock %}
