{% extends templatePath('Widgets/Template:index.html.twig', 'admin') %}
{% block header_text %}Custom Fields{% endblock %}
{% block form_action %}{{ path('cart_admin_item_var') }}{% endblock %}
{% block header_buttons %}
    <a class="btn btn-success" href="{{ path('cart_admin_item_var_new') }}">Create</a>
{% endblock %}
