{% extends templatePath('Widgets/Template:edit.html.twig', 'admin') %}
{% block header_text %}Create ItemVarSet{% endblock %}
{% block subheader_text %}ItemVarSet Form{% endblock %}
{% block above_form %}
    <div class="row">
        <div class="col-xs-12 header-buttons">
            <a href="{{ renderGridBackUrl('cart_admin_item_var_set') }}" class="btn btn-default">Back</a>
        </div>
    </div>
{% endblock %}
