{% extends templatePath('Widgets/Template:edit.html.twig', 'admin') %}
{% block header_text %}Create Content{% endblock %}
{% block subheader_text %}Content Form{% endblock %}
{% block admin_menu_list %}
    <li>
        <a href="{{ renderGridBackUrl('cart_admin_content') }}"><i class="fa arrow"></i> Back to Contents</a>
    </li>
    {{ parent() }}
{% endblock %}
