{% extends admin() %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">26</div>
                            <div>New Comments!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">12</div>
                            <div>New Tasks!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">124</div>
                            <div>New Orders!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">13</div>
                            <div>Support Tickets!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
    <div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#">Action</a>
                        </li>
                        <li><a href="#">Another action</a>
                        </li>
                        <li><a href="#">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div style="position: relative;" id="morris-area-chart"><svg style="overflow: hidden; position: relative; top: -0.75px;" xmlns="http://www.w3.org/2000/svg" width="594" version="1.1" height="347"><desc>Created with Raphaël 2.1.0</desc><defs></defs><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="312" x="56.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="4">0</tspan></text><path stroke-width="0.5" d="M69,312H569" stroke="#aaaaaa" fill="none" style=""></path><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="240.25" x="56.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="4">7,500</tspan></text><path stroke-width="0.5" d="M69,240.25H569" stroke="#aaaaaa" fill="none" style=""></path><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="168.5" x="56.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="4">15,000</tspan></text><path stroke-width="0.5" d="M69,168.5H569" stroke="#aaaaaa" fill="none" style=""></path><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="96.75000000000003" x="56.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="4.000000000000028">22,500</tspan></text><path stroke-width="0.5" d="M69,96.75000000000003H569" stroke="#aaaaaa" fill="none" style=""></path><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="25" x="56.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="4">30,000</tspan></text><path stroke-width="0.5" d="M69,25H569" stroke="#aaaaaa" fill="none" style=""></path><text transform="matrix(1,0,0,1,0,7.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="324.5" x="476.6755607311022" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2012</tspan></text><text transform="matrix(1,0,0,1,0,7.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="324.5" x="254.91463723355778" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2011</tspan></text><path fill-opacity="1" d="M69,261.1723C82.96764720773632,255.91063333333335,110.90294162320895,244.9903770498301,124.87058883094527,240.12563333333333C138.8445648321604,235.25868538316345,166.79251683459063,228.90513542757418,180.76649283580576,222.24553333333336C194.59490658700824,215.65530209424085,222.2517340894132,189.09273714039128,236.08014784061567,187.12630000000001C249.75034175484785,185.18236214039126,277.0907295833122,205.17383090603772,290.7609234975444,206.60403333333335C304.72857070528073,208.06535590603772,332.66386512075337,197.7192121442054,346.6315123284897,198.69240000000002C360.6054883297048,199.66602881087204,388.55344033213504,231.66659633507854,402.5274163333502,214.3913C416.3558300845526,197.29595466841187,444.01265758695763,69.54909163042652,457.8410713381601,61.209833333333364C471.6631562958837,52.87439163042652,499.3073262113311,135.46491434752906,513.1294111690547,147.69250000000002C527.097058376791,160.04885601419574,555.0323527922637,156.58232500000003,569,159.5456L569,312L69,312Z" stroke="none" fill="#7cb47c" style="fill-opacity: 1;"></path><path stroke-width="3" d="M69,261.1723C82.96764720773632,255.91063333333335,110.90294162320895,244.9903770498301,124.87058883094527,240.12563333333333C138.8445648321604,235.25868538316345,166.79251683459063,228.90513542757418,180.76649283580576,222.24553333333336C194.59490658700824,215.65530209424085,222.2517340894132,189.09273714039128,236.08014784061567,187.12630000000001C249.75034175484785,185.18236214039126,277.0907295833122,205.17383090603772,290.7609234975444,206.60403333333335C304.72857070528073,208.06535590603772,332.66386512075337,197.7192121442054,346.6315123284897,198.69240000000002C360.6054883297048,199.66602881087204,388.55344033213504,231.66659633507854,402.5274163333502,214.3913C416.3558300845526,197.29595466841187,444.01265758695763,69.54909163042652,457.8410713381601,61.209833333333364C471.6631562958837,52.87439163042652,499.3073262113311,135.46491434752906,513.1294111690547,147.69250000000002C527.097058376791,160.04885601419574,555.0323527922637,156.58232500000003,569,159.5456" stroke="#4da74d" fill="none" style=""></path><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="261.1723" cx="69"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="240.12563333333333" cx="124.87058883094527"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="222.24553333333336" cx="180.76649283580576"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="187.12630000000001" cx="236.08014784061567"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="206.60403333333335" cx="290.7609234975444"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="198.69240000000002" cx="346.6315123284897"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="214.3913" cx="402.5274163333502"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="61.209833333333364" cx="457.8410713381601"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="147.69250000000002" cx="513.1294111690547"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="159.5456" cx="569"></circle><path fill-opacity="1" d="M69,286.4952666666667C82.96764720773632,280.7409166666667,110.90294162320895,268.5171625047188,124.87058883094527,263.47786666666667C138.8445648321604,258.43628750471873,166.79251683459063,248.92696666666666,180.76649283580576,246.17176666666666C194.59490658700824,243.44526666666664,222.2517340894132,243.7676682873034,236.08014784061567,241.55106666666666C249.75034175484785,239.35982662063674,277.0907295833122,231.61492118158918,290.7609234975444,228.5404C304.72857070528073,225.39897951492253,332.66386512075337,216.55698369007172,346.6315123284897,216.6873C360.6054883297048,216.8176753567384,388.55344033213504,242.89876457242582,402.5274163333502,229.58316666666667C416.3558300845526,216.40627290575915,444.01265758695763,118.53030453192953,457.8410713381601,110.71733333333336C471.6631562958837,102.90793786526287,499.3073262113311,158.89161778638126,513.1294111690547,167.0937C527.097058376791,175.3821594530479,555.0323527922637,174.28305,569,176.67950000000002L569,312L69,312Z" stroke="none" fill="#a7b3bc" style="fill-opacity: 1;"></path><path stroke-width="3" d="M69,286.4952666666667C82.96764720773632,280.7409166666667,110.90294162320895,268.5171625047188,124.87058883094527,263.47786666666667C138.8445648321604,258.43628750471873,166.79251683459063,248.92696666666666,180.76649283580576,246.17176666666666C194.59490658700824,243.44526666666664,222.2517340894132,243.7676682873034,236.08014784061567,241.55106666666666C249.75034175484785,239.35982662063674,277.0907295833122,231.61492118158918,290.7609234975444,228.5404C304.72857070528073,225.39897951492253,332.66386512075337,216.55698369007172,346.6315123284897,216.6873C360.6054883297048,216.8176753567384,388.55344033213504,242.89876457242582,402.5274163333502,229.58316666666667C416.3558300845526,216.40627290575915,444.01265758695763,118.53030453192953,457.8410713381601,110.71733333333336C471.6631562958837,102.90793786526287,499.3073262113311,158.89161778638126,513.1294111690547,167.0937C527.097058376791,175.3821594530479,555.0323527922637,174.28305,569,176.67950000000002" stroke="#7a92a3" fill="none" style=""></path><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="286.4952666666667" cx="69"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="263.47786666666667" cx="124.87058883094527"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="246.17176666666666" cx="180.76649283580576"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="241.55106666666666" cx="236.08014784061567"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="228.5404" cx="290.7609234975444"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="216.6873" cx="346.6315123284897"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="229.58316666666667" cx="402.5274163333502"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="110.71733333333336" cx="457.8410713381601"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="167.0937" cx="513.1294111690547"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="176.67950000000002" cx="569"></circle><path fill-opacity="1" d="M69,286.4952666666667C82.96764720773632,286.2274,110.90294162320895,288.1090333220083,124.87058883094527,285.4238C138.8445648321604,282.737349988675,166.79251683459063,266.19740453752183,180.76649283580576,265.00853333333333C194.59490658700824,263.8320462041885,222.2517340894132,278.24511754890676,236.08014784061567,275.96236666666664C249.75034175484785,273.70573421557344,277.0907295833122,249.1021788413098,290.7609234975444,246.851C304.72857070528073,244.55083717464316,332.66386512075337,255.37783067195167,346.6315123284897,257.757C360.6054883297048,260.13724733861835,388.55344033213504,277.1919588132635,402.5274163333502,265.88866666666667C416.3558300845526,254.70311714659687,444.01265758695763,174.81919334897384,457.8410713381601,167.80163333333334C471.6631562958837,160.78728501564052,499.3073262113311,201.86110179154332,513.1294111690547,209.76103333333333C527.097058376791,217.74416012487663,555.0323527922637,225.94065833333332,569,231.33386666666667L569,312L69,312Z" stroke="none" fill="#2577b5" style="fill-opacity: 1;"></path><path stroke-width="3" d="M69,286.4952666666667C82.96764720773632,286.2274,110.90294162320895,288.1090333220083,124.87058883094527,285.4238C138.8445648321604,282.737349988675,166.79251683459063,266.19740453752183,180.76649283580576,265.00853333333333C194.59490658700824,263.8320462041885,222.2517340894132,278.24511754890676,236.08014784061567,275.96236666666664C249.75034175484785,273.70573421557344,277.0907295833122,249.1021788413098,290.7609234975444,246.851C304.72857070528073,244.55083717464316,332.66386512075337,255.37783067195167,346.6315123284897,257.757C360.6054883297048,260.13724733861835,388.55344033213504,277.1919588132635,402.5274163333502,265.88866666666667C416.3558300845526,254.70311714659687,444.01265758695763,174.81919334897384,457.8410713381601,167.80163333333334C471.6631562958837,160.78728501564052,499.3073262113311,201.86110179154332,513.1294111690547,209.76103333333333C527.097058376791,217.74416012487663,555.0323527922637,225.94065833333332,569,231.33386666666667" stroke="#0b62a4" fill="none" style=""></path><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="286.4952666666667" cx="69"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="285.4238" cx="124.87058883094527"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="265.00853333333333" cx="180.76649283580576"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="275.96236666666664" cx="236.08014784061567"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="246.851" cx="290.7609234975444"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="257.757" cx="346.6315123284897"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="265.88866666666667" cx="402.5274163333502"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="167.80163333333334" cx="457.8410713381601"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="209.76103333333333" cx="513.1294111690547"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="231.33386666666667" cx="569"></circle></svg><div style="left: 7px; top: 182px; display: none;" class="morris-hover morris-default-style"><div class="morris-hover-row-label">2010 Q1</div><div class="morris-hover-point" style="color: #0b62a4">
                        iPhone:
                        2,666
                    </div><div class="morris-hover-point" style="color: #7A92A3">
                        iPad:
                        -
                    </div><div class="morris-hover-point" style="color: #4da74d">
                        iPod Touch:
                        2,647
                    </div></div></div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#">Action</a>
                        </li>
                        <li><a href="#">Another action</a>
                        </li>
                        <li><a href="#">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>3326</td>
                                <td>10/21/2013</td>
                                <td>3:29 PM</td>
                                <td>$321.33</td>
                            </tr>
                            <tr>
                                <td>3325</td>
                                <td>10/21/2013</td>
                                <td>3:20 PM</td>
                                <td>$234.34</td>
                            </tr>
                            <tr>
                                <td>3324</td>
                                <td>10/21/2013</td>
                                <td>3:03 PM</td>
                                <td>$724.17</td>
                            </tr>
                            <tr>
                                <td>3323</td>
                                <td>10/21/2013</td>
                                <td>3:00 PM</td>
                                <td>$23.71</td>
                            </tr>
                            <tr>
                                <td>3322</td>
                                <td>10/21/2013</td>
                                <td>2:49 PM</td>
                                <td>$8345.23</td>
                            </tr>
                            <tr>
                                <td>3321</td>
                                <td>10/21/2013</td>
                                <td>2:23 PM</td>
                                <td>$245.12</td>
                            </tr>
                            <tr>
                                <td>3320</td>
                                <td>10/21/2013</td>
                                <td>2:15 PM</td>
                                <td>$5663.54</td>
                            </tr>
                            <tr>
                                <td>3319</td>
                                <td>10/21/2013</td>
                                <td>2:13 PM</td>
                                <td>$943.45</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.col-lg-4 (nested) -->
                <div class="col-lg-8">
                    <div style="position: relative;" id="morris-bar-chart"><svg style="overflow: hidden; position: relative; top: -0.75px;" xmlns="http://www.w3.org/2000/svg" width="386" version="1.1" height="347"><desc>Created with Raphaël 2.1.0</desc><defs></defs><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="312" x="36.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="4">0</tspan></text><path stroke-width="0.5" d="M49,312H361" stroke="#aaaaaa" fill="none" style=""></path><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="240.25" x="36.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="4">25</tspan></text><path stroke-width="0.5" d="M49,240.25H361" stroke="#aaaaaa" fill="none" style=""></path><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="168.5" x="36.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="4">50</tspan></text><path stroke-width="0.5" d="M49,168.5H361" stroke="#aaaaaa" fill="none" style=""></path><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="96.75" x="36.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="4">75</tspan></text><path stroke-width="0.5" d="M49,96.75H361" stroke="#aaaaaa" fill="none" style=""></path><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="25" x="36.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="4">100</tspan></text><path stroke-width="0.5" d="M49,25H361" stroke="#aaaaaa" fill="none" style=""></path><text transform="matrix(1,0,0,1,0,7.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="324.5" x="338.7142857142857" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2012</tspan></text><text transform="matrix(1,0,0,1,0,7.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="324.5" x="249.57142857142858" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2010</tspan></text><text transform="matrix(1,0,0,1,0,7.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="324.5" x="160.42857142857144" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2008</tspan></text><text transform="matrix(1,0,0,1,0,7.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="324.5" x="71.28571428571428" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2006</tspan></text><rect fill-opacity="1" style="fill-opacity: 1;" stroke="none" fill="#0b62a4" ry="0" rx="0" r="0" height="287" width="15.214285714285715" y="25" x="54.57142857142857"></rect><rect fill-opacity="1" style="fill-opacity: 1;" stroke="none" fill="#7a92a3" ry="0" rx="0" r="0" height="258.3" width="15.214285714285715" y="53.69999999999999" x="72.78571428571428"></rect><rect fill-opacity="1" style="fill-opacity: 1;" stroke="none" fill="#0b62a4" ry="0" rx="0" r="0" height="215.25" width="15.214285714285715" y="96.75" x="99.14285714285714"></rect><rect fill-opacity="1" style="fill-opacity: 1;" stroke="none" fill="#7a92a3" ry="0" rx="0" r="0" height="186.55" width="15.214285714285715" y="125.44999999999999" x="117.35714285714286"></rect><rect fill-opacity="1" style="fill-opacity: 1;" stroke="none" fill="#0b62a4" ry="0" rx="0" r="0" height="143.5" width="15.214285714285715" y="168.5" x="143.71428571428572"></rect><rect fill-opacity="1" style="fill-opacity: 1;" stroke="none" fill="#7a92a3" ry="0" rx="0" r="0" height="114.80000000000001" width="15.214285714285715" y="197.2" x="161.92857142857144"></rect><rect fill-opacity="1" style="fill-opacity: 1;" stroke="none" fill="#0b62a4" ry="0" rx="0" r="0" height="215.25" width="15.214285714285715" y="96.75" x="188.28571428571428"></rect><rect fill-opacity="1" style="fill-opacity: 1;" stroke="none" fill="#7a92a3" ry="0" rx="0" r="0" height="186.55" width="15.214285714285715" y="125.44999999999999" x="206.5"></rect><rect fill-opacity="1" style="fill-opacity: 1;" stroke="none" fill="#0b62a4" ry="0" rx="0" r="0" height="143.5" width="15.214285714285715" y="168.5" x="232.85714285714283"></rect><rect fill-opacity="1" style="fill-opacity: 1;" stroke="none" fill="#7a92a3" ry="0" rx="0" r="0" height="114.80000000000001" width="15.214285714285715" y="197.2" x="251.07142857142856"></rect><rect fill-opacity="1" style="fill-opacity: 1;" stroke="none" fill="#0b62a4" ry="0" rx="0" r="0" height="215.25" width="15.214285714285715" y="96.75" x="277.4285714285714"></rect><rect fill-opacity="1" style="fill-opacity: 1;" stroke="none" fill="#7a92a3" ry="0" rx="0" r="0" height="186.55" width="15.214285714285715" y="125.44999999999999" x="295.6428571428571"></rect><rect fill-opacity="1" style="fill-opacity: 1;" stroke="none" fill="#0b62a4" ry="0" rx="0" r="0" height="287" width="15.214285714285715" y="25" x="322"></rect><rect fill-opacity="1" style="fill-opacity: 1;" stroke="none" fill="#7a92a3" ry="0" rx="0" r="0" height="258.3" width="15.214285714285715" y="53.69999999999999" x="340.2142857142857"></rect></svg><div style="display: none;" class="morris-hover morris-default-style"></div></div>
                </div>
                <!-- /.col-lg-8 (nested) -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <ul class="timeline">
                <li>
                    <div class="timeline-badge"><i class="fa fa-check"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia repellendus.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit qui est tempora eos, nostrum provident explicabo dignissimos debitis vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam facilis enim eaque, tenetur nam id qui vel velit similique nihil iure molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge info"><i class="fa fa-save"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p>
                            <hr>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-gear"></i>  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque eaque.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Notifications Panel
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small"><em>11:32 AM</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                                    <span class="pull-right text-muted small"><em>11:13 AM</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-warning fa-fw"></i> Server Not Responding
                                    <span class="pull-right text-muted small"><em>10:57 AM</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                                    <span class="pull-right text-muted small"><em>9:49 AM</em>
                                    </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> Payment Received
                                    <span class="pull-right text-muted small"><em>Yesterday</em>
                                    </span>
                    </a>
                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">View All Alerts</a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
            </div>
            <div class="panel-body">
                <div id="morris-donut-chart"><svg style="overflow: hidden; position: relative; top: -0.75px;" xmlns="http://www.w3.org/2000/svg" width="266" version="1.1" height="347"><desc>Created with Raphaël 2.1.0</desc><defs></defs><path opacity="0" stroke-width="2" d="M133,258A82,82,0,0,0,210.59706686881458,202.50839892103482" stroke="#0b62a4" fill="none" style="opacity: 0;"></path><path stroke-width="3" d="M133,261A85,85,0,0,0,213.43598394938095,203.47821839375564L244.6640718356112,214.1462325936843A118,118,0,0,1,133,294Z" stroke="#ffffff" fill="#0b62a4" style=""></path><path opacity="1" stroke-width="2" d="M210.59706686881458,202.50839892103482A82,82,0,0,0,59.45891924303187,139.72729068435757" stroke="#3980b5" fill="none" style="opacity: 1;"></path><path stroke-width="3" d="M213.43598394938095,203.47821839375564A85,85,0,0,0,56.76839189826475,138.40024034354138L22.688378864547815,121.59093602653635A123,123,0,0,1,249.39560030322184,215.76259838155227Z" stroke="#ffffff" fill="#3980b5" style=""></path><path opacity="0" stroke-width="2" d="M59.45891924303187,139.72729068435757A82,82,0,0,0,132.9742389406644,257.99999595346225" stroke="#679dc6" fill="none" style="opacity: 0;"></path><path stroke-width="3" d="M56.76839189826475,138.40024034354138A85,85,0,0,0,132.97329646288384,260.99999580541817L132.96292920729755,293.99999417693346A118,118,0,0,1,27.172591105826356,123.80268659456334Z" stroke="#ffffff" fill="#679dc6" style=""></path><text stroke-width="0.6639566395663957" transform="matrix(1.5061,0,0,1.5061,-67.3143,-88.5714)" font-weight="800" font-size="15px" fill="#000000" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="166" x="133" style="text-anchor: middle; font: 800 15px &quot;Arial&quot;;"><tspan dy="5">In-Store Sales</tspan></text><text stroke-width="0.5853658536585367" transform="matrix(1.7083,0,0,1.7083,-94.2083,-126.0833)" font-size="14px" fill="#000000" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="186" x="133" style="text-anchor: middle; font: 14px &quot;Arial&quot;;"><tspan dy="5">30</tspan></text></svg></div>
                <a href="#" class="btn btn-default btn-block">View Details</a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <div class="chat-panel panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i>
                Chat
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu slidedown">
                        <li>
                            <a href="#">
                                <i class="fa fa-refresh fa-fw"></i> Refresh
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-check-circle fa-fw"></i> Available
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-times fa-fw"></i> Busy
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-clock-o fa-fw"></i> Away
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-sign-out fa-fw"></i> Sign Out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="chat">
                    <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                                    </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Jack Sparrow</strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                </small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                    <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
                                    </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <small class=" text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                <strong class="pull-right primary-font">Bhaumik Patel</strong>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                    <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                                    </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Jack Sparrow</strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                    <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
                                    </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <small class=" text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                <strong class="pull-right primary-font">Bhaumik Patel</strong>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <div class="input-group">
                    <input id="btn-input" class="form-control input-sm" placeholder="Type your message here..." type="text">
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                        Send
                                    </button>
                                </span>
                </div>
            </div>
            <!-- /.panel-footer -->
        </div>
        <!-- /.panel .chat-panel -->
    </div>
    <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

{% endblock %}
