{% extends 'MobileCartAdminBundle::Widgets/Template/edit.html.twig' %}
{% block header_text %}Edit {{ type }} Product{% endblock %}
{% block subheader_text %}SKU: {{ entity.sku }}{% endblock %}
{% block admin_menu_list %}
    <li>
        <a href="{{ renderGridBackUrl('cart_admin_product') }}"><i class="fa arrow"></i> Back to Products</a>
    </li>
    {{ parent() }}
{% endblock %}
