{% extends templatePath('Widgets/Template:index.html.twig', 'admin') %}
{% block header_text %}Discounts{% endblock %}
{% block form_action %}{{ path('cart_admin_discount') }}{% endblock %}
{% block header_buttons %}
    <a class="btn btn-success" href="{{ path('cart_admin_discount_new') }}">Create</a>
{% endblock %}
