{% extends 'MobileCartAdminBundle::Widgets/Template/edit.html.twig' %}
{% block header_text %}Edit ItemVarOption{% endblock %}
{% block subheader_text %}Value: {{ entity.value }}{% endblock %}
{% block admin_menu_list %}
    <li>
        <a href="{{ renderGridBackUrl('cart_admin_item_var_option') }}"><i class="fa arrow"></i> Back to ItemVarOptions</a>
    </li>
    {{ parent() }}
{% endblock %}
