{% extends templatePath('Widgets/Template:edit.html.twig', 'admin') %}
{% block header_text %}Payment #{{ entity.id }}{% endblock %}
{% block back_button %}
    <a href="{{ renderGridBackUrl('cart_admin_order_payment') }}" class="btn btn-default">Back</a>
    <a href="{{ path('cart_admin_order_edit', {'id': entity.order.id }) }}" class="btn btn-default">Edit Order</a>
{% endblock %}
