<ul class="nav nav-tabs">
    <li class="active">
        <a href="#section-selected-cats" data-toggle="tab" aria-expanded="true">Selected Categories</a>
    </li>
    <li class="">
        <a href="#section-search-cats" data-toggle="tab" aria-expanded="false">Search</a>
    </li>
</ul>
<div class="tab-content">
    <div id="section-selected-cats" class="tab-pane fade active in">
        <div class="panel panel-default tab-panel">
            <div class="panel-body listing-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable">
                        <thead class="grid-header">
                            <tr>
                                <th>&nbsp;</th>
                                <th class="sorting_desc" data-sort="id">ID</th>
                                <th class="sorting" data-sort="name">Name</th>
                            </tr>
                        </thead>
                        <tbody class="selected-category-list">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="section-search-cats" class="tab-pane fade">
        <div class="panel panel-default adv-filters tab-panel">
            <div class="panel-heading">
                <div class="row adv-filters-buttons">
                    <div class="col-xs-3">
                        <a data-toggle="collapse" data-parent="#accordion" class="pull-left btn btn-default" href="#{{ section_id }}-filters-panel">Basic Filters</a>
                    </div>
                    <div class="col-xs-6">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default search-clear" type="button" style="visibility:hidden;">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </span>
                            <input type="text" class="form-control search-query" name="q" value="" placeholder="Search..." />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="pull-right">
                            <button class="btn btn-default adv-filters-search">
                                <i class="fa fa-search"> </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body panel-collapse collapse" id="{{ section_id }}-filters-panel">
                <div id="{{ section_id }}-filters-container" class="filters-container">

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="row">
                    <div class="col-xs-2 pull-left">
                        <div class="input-group mass-actions">
                            <div class="input-group-btn">
                                <button class="btn btn-default check-all" type="button">
                                    <input type="checkbox" value="1" class="check-all" name="category_check_all" />
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">


                    </div>
                    <div class="col-xs-6 grid-pager">

                    </div>
                </div>

            </div>
            <div class="panel-body listing-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable">
                        <thead class="grid-header">

                        </thead>
                        <tbody class="category-list">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
