<script type="text/template" id="category-grid-single">
    <td>
        <input type="checkbox" class="select-category" id="category-<%- id %>" <% if (checked == 1) { %> checked="checked"<% } %> />
    </td>
    <td><%- id %></td>
    <td><%- name %></td>
</script>

<script type="text/template" id="selected-category-grid-single">
    <td>
        <input type="checkbox" class="selected-category" id="selected-category-id-<%- id %>" value="<%- id %>" name="category_ids[]"<% if (checked == 1) { %> checked="checked"<% } %> />
    </td>
    <td><%- id %></td>
    <td><%- name %></td>
</script>

<script type="text/html" id="category-pagination-template">

    <div class="pull-right btn-group input-group paginator" role="group">
        <button type="button" class="btn pull-left btn-default prev <% if (currentPage == 1) { %>disabled<% } %>" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </button>
        <input type="number" id="category-page" class="form-control number paginator" name="page" value="<%= currentPage %>" />
        <button type="button" class="btn pull-right btn-default next <% if (currentPage >= lastPage) { %>disabled<% } %>" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </button>
    </div>

</script>

<script type="text/html" id="category-grid-adv-filter">
    <div class="filter">
        <select name="filter_field[<%= counter %>]" class="adv-filter-field">
            <% _.each(fields, function(field) { %>
            <option value="<%= field.code %>" data-type="<%= field.type %>"
            <% if (!_.isUndefined(field.selected)) { %> selected="selected"<% } %>
            <% if (!_.isUndefined(field.choices)) { %> data-choices='{"choices":<%= JSON.stringify(field.choices) %>}'<% } %>><%= field.label %></option>
            <% }); %>
        </select>

        <select name="filter_op[<%= counter %>]" class="adv-filter-op">
            <% _.each(ops, function(op) { %>
            <option value="<%= op.code %>" data-types='{"types":<%= JSON.stringify(op.types) %>}'<% if (!_.isUndefined(op.selected)) { %> selected="selected"<% } %>><%= op.label %></option>
            <% }); %>
        </select>

        <% if (choices.length > 0) { %>
        <select name="filter_val[<%= counter %>]" class="adv-filter-input">
            <% _.each(choices, function(option) { %>
            <option value="<%= option.value %>"<% if (option.value == value) { %> selected="selected"<% } %>><%= option.label %></option>
            <% }); %>
        </select>
        <% } else { %>
        <input name="filter_val[<%= counter %>]" type="text" class="adv-filter-input" value="<%= value %>" />
        <% } %>

        <% if (remove) { %>
        <a href="javascript:;" class="btn btn-default remove-filter"><i class="glyphicon glyphicon-remove"> </i></a>
        <% } else { %>
        <a href="javascript:;" class="btn btn-default add-filter"><i class="glyphicon glyphicon-plus"> </i></a>
        <% } %>
    </div>
</script>

<script type="text/javascript">

App.Category = {};
App.Category.models = {};
App.Category.collections = {};
App.Category.collections.dynamic = {};
App.Category.views = {};
App.Category.views.dynamic = {};

// Sortable
App.Category.models.Sortable = Backbone.Model.extend({});
App.Category.collections.SortableCollection = Backbone.Collection.extend({
    model: App.Category.models.Sortable
});

// AdvFilter
App.Category.models.AdvFilter = Backbone.Model.extend({});
App.Category.collections.AdvFilterCollection = Backbone.Collection.extend({
    model: App.Category.models.AdvFilter
});

// Selected Categories
App.Category.models.SelectedCategory = Backbone.Model.extend({});
App.Category.collections.SelectedCategoryCollection = Backbone.Collection.extend({
    model: App.Category.models.SelectedCategory
});

// Categories
App.Category.models.Category = Backbone.Model.extend({});
App.Category.collections.PaginatedCollection = Backbone.PageableCollection.extend({
    key: '',
    url: App.serverURL + 'admin/category/',
    mode: 'server',
    model: App.Category.models.Category,
    state: {
        pageSize: 30,
        sortKey: 'name',
        order: 1,
        currentPage: 1,
        totalPages: null,
        totalRecords: null
    },
    queryParams: {
        sortKey: 'sort',
        order: 'direction',
        directions: {
            "-1": 'asc',
            "1": 'desc'
        },
        currentPage: 'page',
        q: ''
    },
    parse: function(fullResponse) {

        var response = fullResponse.result;
        var search = fullResponse.search;
        var columns = fullResponse.columns;

        // Set state
        this.state.totalRecords = parseInt(response.total);
        this.state.totalPages = parseInt(response.pages);

        // handle table header sorting
        if (typeof(App.Category.views.sorting) === 'undefined' ||
                App.Category.views.sorting === null ||
                typeof(App.Category.collections.sorting) === 'undefined') {

            App.Category.collections.sorting = new App.Category.collections.SortableCollection(columns);

            App.Category.views.sorting = new App.Category.views.TableHeading({
                collection: App.Category.collections.sorting,
                el: App.Category.Container.find('table thead.grid-header')
            });

            App.Category.views.sorting.render(); // view should be changing based on model changes
        } else {
            App.Category.collections.sorting.reset(columns);
        }

        // handle adv. filters
        if (typeof(App.Category.views.advfilters) === 'undefined' ||
                App.Category.views.advfilters === null ||
                typeof(App.Category.collections.advfilters) === 'undefined') {

            App.Category.collections.advfilters = new App.Category.collections.AdvFilterCollection(search.advFilters);

            App.Category.views.advfilters = new App.Category.views.GridFilterView({
                collection: App.Category.collections.advfilters,
                el: App.Category.Container.find('div#categories-filters-container')
            });

            App.Category.views.advfilters.ops = search.advFilterOps; // [{code:'gt',label:'Greater Than',types:["number","date"]},..]
            App.Category.views.advfilters.filterable = search.filterable;
            App.Category.views.advfilters.render(); // view should be changing based on model changes
        } else {
            App.Category.collections.advfilters.reset(search.advFilters);
        }

        // Render Faceted Search
        //App.Category.collections.facets = new App.Category.collections.FacetCollection(response.facetCounts);
        //App.Category.views.facets = new App.Category.views.FacetCollectionView({collection: App.Category.collections.facets});
        //App.Category.views.facets.render();

        return response.entities;
    }
});

//View for category listing
App.Category.views.CategoryList = Backbone.View.extend({
    el : 'tbody.category-list',
    selected: [],
    selected_view: {},
    initialize: function() {
        var categories = this.collection;
        categories.on('add', this.addOne, this);
        this.render();
    },
    render: function() {
        this.$el.html('');
        return this;
    },
    addOne: function(category) {
        var view = new App.Category.views.CategoryView({ model: category });
        view.selected = this.selected;
        view.parent_view = this;
        this.$el.append(view.render().el);
        return this;
    },
    removeSelectedCategoryViewById: function(id) {
        this.selected_view.removeCategoryViewById(id);
    },
    addSelected: function(id) {
        var self = this;
        var idx = self.selected.indexOf(id);
        if (idx == -1) {
            self.selected.push(id);
        }
        return this;
    },
    removeSelected: function(id) {
        var self = this;
        var idx = self.selected.indexOf(id);
        if (idx > -1) {
            self.selected.splice(idx, 1);
        }
        return this;
    }
});

App.Category.views.CategoryView = Backbone.View.extend({
    tagName: 'tr',
    className: 'item-grid',
    selected: [],
    parent_view: {},
    events: {
        'click input.select-category': 'categoryClick'
    },
    template: _.template($('#category-grid-single').html()),
    initialize: function() {
        this.model.bind('change', this.render, this);
        this.model.bind('remove', this.remove, this);
    },
    render: function() {
        var self = this;
        var category = this.model.toJSON();
        var categoryId = parseInt(category.id);
        if (self.selected.indexOf(categoryId) > -1) {
            category.checked = 1;
        } else {
            category.checked = 0;
        }

        this.$el.html(this.template(category));
        return this;
    },
    categoryClick: function(e) {
        var self = this;
        var category = this.model;

        var link = $(e.currentTarget);
        var idStr = link.attr('id');
        var idParts = idStr.split('-');
        var id = idParts[1];

        // find checkbox in selected area
        var checkbox = $('input#selected-category-id-' + id);
        if (checkbox.length > 0) {
            // remove row
            self.parent_view.removeSelectedCategoryViewById(id);
        } else {
            // add row
            this.parent_view.selected_view.addOne(category);
        }
    }
});

/**
 * Category Listing for selected Categories
 *
 * pass in the collection
 *  render rows
 *
 */
App.Category.views.SelectedCategoryList = Backbone.View.extend({
    el : '.selected-category-list',
    selected: [],
    child_views: [],
    initialize: function() {
        var categories = this.collection;
        categories.on('add', this.addOne, this);
    },
    render: function() {
        var self = this;

        return this;
    },
    addOne: function(category) {
        var view = new App.Category.views.SelectedCategoryView({ model: category });
        view.parent = this;
        this.child_views.push(view);
        this.$el.append(view.render().el);
        return this;
    },
    removeCategoryViewById: function(id) {
        var self = this;
        var idx = 0;
        _.each(this.child_views, function(view) {
            if (view.model.get('id') == id) {
                view.remove();
                self.child_views.splice(idx, 1);
            }
            idx++;
        });
    }
});

App.Category.views.SelectedCategoryView = Backbone.View.extend({
    tagName: 'tr',
    className: 'selected-item-grid',
    selected: [],
    parent: {},
    events: {
        'click input.selected-category': 'categoryClick'
    },
    template: _.template($('#selected-category-grid-single').html()),
    initialize: function() {
        this.model.bind('change', this.render, this);
        this.model.bind('remove', this.remove, this);
    },
    render: function() {
        var self = this;

        var category = this.model.toJSON();
        var categoryId = category.id;
        category.checked = 1;

        this.$el.html(this.template(category));
        return this;
    },
    categoryClick: function(e) {
        var self = this;
        var category = this.model;

        var link = $(e.currentTarget);
        var idStr = link.attr('id');
        var idParts = idStr.split('-');
        var id = idParts[3];

        var checkbox = $('input#category-' + id);
        if (checkbox.length > 0) {
            checkbox.attr('checked', false);
        }

        self.parent.removeCategoryViewById(id);
    }
});

App.Category.views.GridFilterView = Backbone.View.extend({
    filterable: [],
    ops: [],
    count: 0,
    el: '',
    tagName: 'div',
    className: 'filter',
    events: {
        'click a.add-filter': 'addFilter',
        'click a.remove-filter': 'removeFilter',
        'change select.adv-filter-field': 'changeFilter'
    },
    template: _.template($('#category-grid-adv-filter').html()),
    initialize: function() {
        var categories = this.collection;
        categories.on('reset', this.render, this);
    },
    render: function() {
        var self = this;
        this.$el.html('');

        this.collection.each(function(filter){
            self.renderFilter(filter);
        });

        this.renderFilter({
            field:'id',
            op:'equals',
            value:'',
            type:'number',
            choices: []
        });

        return this;
    },
    changeFilter: function(e) {
        var self = this;
        var select = $(e.currentTarget);
        var field = select.find(':selected');
        var type = field.attr('data-type');
        var filterOps = select.parent().find('select.adv-filter-op');
        filterOps.html('');
        for(var x=0; x < self.ops.length; x++) {
            var op = self.ops[x];
            if (op.types.indexOf(type) > -1) {
                filterOps.append('<option value="' + op.code + '"' + " data-types='{" + '"types":' + JSON.stringify(op.types) +"}'"+'>'+op.label+'</option>');
            }
        }

        // change filter input type as necessary
        var choiceJson = field.attr('data-choices');
        if (!_.isUndefined(choiceJson)) {
            // render select input, remove text input if necessary
            var inputEl = select.parent().find('select.adv-filter-input');
            if (inputEl.length) {

                inputEl.html('');
                var optionStr = '';
                var choiceContainer = JSON.parse(choiceJson);
                var choices = choiceContainer.choices;
                for (var x=0;x<choices.length;x++) {
                    var choice = choices[x];
                    optionStr += '<option value="' + choice.value + '">' + choice.label + '</option>';
                }

                inputEl.html(optionStr);

            } else {
                inputEl = select.parent().find('input.adv-filter-input');
                if (_.isObject(inputEl)) {

                    var optionStr = '';
                    var choiceContainer = JSON.parse(choiceJson);
                    var choices = choiceContainer.choices;
                    for (var x=0;x<choices.length;x++) {
                        var choice = choices[x];
                        optionStr += '<option value="' + choice.value + '">' + choice.label + '</option>';
                    }

                    var inputName = inputEl.attr('name');
                    $('<select name="' + inputName + '" class="adv-filter-input">' + optionStr + '</select>').insertAfter(inputEl);
                    inputEl.remove();
                }
            }

        } else {
            // render text input, remove select input if necessary
            var inputEl = select.parent().find('input.adv-filter-input');
            if (!inputEl.length) {
                inputEl = select.parent().find('select.adv-filter-input');
                if (_.isObject(inputEl)) {
                    var inputName = inputEl.attr('name');
                    $('<input type="text" class="adv-filter-input" name="' + inputName + '" value="" />').insertAfter(inputEl);
                    inputEl.remove();
                }
            }
        }

        return this;
    },
    renderFilter: function(filter) {
        this.count++;

        var type = '';
        var ops = [];
        var fields = [];
        var value = '';
        var remove = false;
        var choices = [];

        // if it's a model object
        if (!_.isUndefined(filter.attributes)) {
            for(var x=0; x < this.filterable.length; x++) {
                var field = this.filterable[x];
                if (field.code == filter.get('field')) {
                    type = field.type;
                    field.selected = 1;
                    if (!_.isUndefined(filter.get('choices'))) {
                        choices = filter.get('choices');
                    }
                }
                fields.push(field);
            }

            for(x=0; x < this.ops.length; x++) {
                var op = this.ops[x];
                if (op.types.indexOf(type) > -1) {
                    if (filter.get('op') == op.code) {
                        op.selected = 1;
                    }
                    ops.push(op);
                }
            }

            value = filter.get('value');
            remove = true;

        } else if (!_.isUndefined(filter.type)) {
            //else if it's a standard js object

            for(var x=0; x < this.filterable.length; x++) {
                var field = this.filterable[x];
                if (_.isUndefined(filter.field) && field.code == 'id') {
                    field.selected = 1;
                }
                fields.push(field);
            }

            for(var x=0; x < this.ops.length; x++) {
                var op = this.ops[x];
                if (op.types.indexOf(filter.type) > -1) {
                    ops.push(op);
                }
            }
        } else {
            ops = this.ops;
            fields = this.filterable;
        }

        this.$el.append(this.template({
            fields: fields,
            ops: ops,
            counter: this.count,
            value: value,
            remove: remove,
            choices: choices
        }));

        // Cleanup, remove selected flag
        for(x=0; x < this.ops.length; x++) {
            var op = this.ops[x];
            if (!_.isUndefined(op.selected)) {
                delete op.selected;
            }
        }

        // Cleanup, remove selected flag
        for(var x=0; x < this.filterable.length; x++) {
            var field = this.filterable[x];
            if (!_.isUndefined(field.selected)) {
                delete field.selected;
            }
        }

        return this;
    },
    addFilter: function(e) {
        e.preventDefault();
        this.count++;
        var link = $(e.currentTarget);
        link.removeClass('add-filter');
        link.addClass('remove-filter');
        link.html('<i class="fa fa-times fa-lg"></i>');
        var choices = [];

        var ops = [];
        for(var x=0; x < this.ops.length; x++) {
            var op = this.ops[x];
            //assuming ID is first on the list
            if (op.types.indexOf('number') > -1) {
                ops.push(op);
            }
        }

        this.$el.append(this.template({
            fields: this.filterable,
            ops: ops,
            counter: this.count,
            value: '',
            remove: false,
            choices: choices
        }));

        return this;
    },
    removeFilter: function(e) {
        e.preventDefault();
        var link = $(e.currentTarget);
        link.parent().remove();
        return this;
    }
});

App.Category.views.TableButtons = Backbone.View.extend({
    el : 'div.adv-filter-buttons',
    tagName: 'div',
    className: 'pull-right',
    events: {
        'click button.adv-filters-search': 'updateSearch',
        'click button.search-clear': 'clearAction',
        'keydown input.search-query': 'keyAction'
    },
    initialize: function() {

    },
    updateSearch: function (e) {
        e.preventDefault();
        var self = this;

        // filter fields
        App.Category.collections.categories.queryParams.filter_field = [];
        App.Category.Container.find('select.adv-filter-field').each(function(){
            var self = $(this);
            App.Category.collections.categories.queryParams.filter_field.push(self.val());
        });

        // filter operations
        App.Category.collections.categories.queryParams.filter_op = [];
        App.Category.Container.find('select.adv-filter-op').each(function(){
            var self = $(this);
            App.Category.collections.categories.queryParams.filter_op.push(self.val());
        });

        // filter values
        App.Category.collections.categories.queryParams.filter_val = [];
        App.Category.Container.find('.adv-filter-input').each(function(){
            var self = $(this);
            App.Category.collections.categories.queryParams.filter_val.push(self.val());
        });

        // search text
        App.Category.collections.categories.queryParams.q = self.$el.find('input.search-query').val();

        App.Category.collections.categories.currentPage = 1;
        App.Category.collections.categories.fetch();

        return false;
    },
    clearAction: function(e) {
        var self = this;
        self.$el.find('input.search-query').val('');
        self.$el.find('button.search-clear').css('visibility', 'hidden');
        self.updateSearch(e);
        return true;
    },
    keyAction: function(e) {
        var self = this;
        var code = e.keyCode || e.which;
        self.$el.find('button.search-clear').css('visibility', 'visible');
        if (code == 13) {
            self.updateSearch(e);
            return false;
        }
        return true;
    }
});

App.Category.views.TableHeading = Backbone.View.extend({
    el : 'table thead.grid-header',
    tagName: 'tr',
    columns: ['id','name'],
    events: {
        'click th': 'gotoPage',
        'click button.adv-filters-search': 'updateSearch'
    },
    initialize: function() {
        var cells = this.collection;
        cells.on('all', this.render, this);
        //this.render(); // cannot render in initialize, since we're handling the key
    },
    render: function() {
        var self = this;
        this.$el.html('');

        var html = '';
        html += '<th>&nbsp;</th>';

        this.collection.each(function(cell) {
            if (self.columns.indexOf(cell.get('key')) >= 0) {

                var className = 'sorting';
                if (cell.get('isActive') == 1) {
                    if (cell.get('direction') == 'desc') {
                        className = 'sorting_desc';
                    } else {
                        className = 'sorting_asc';
                    }
                }

                html += '<th class="'+ className +'" data-sort="' + cell.get('key') + '">' + cell.get('label') + '</th>';
            }
        });

        this.$el.html('<tr>' + html + '</tr>');
        return this;
    },
    gotoPage: function(event) {
        var link = $(event.currentTarget);
        var sort = link.attr('data-sort');
        var sortDir = '1';
        if (link.hasClass('sorting_desc')) {
            sortDir = '-1';
            link.removeClass('sorting_desc');
            link.addClass('sorting_asc');
        } else {
            link.removeClass('sorting_asc');
            link.addClass('sorting_desc');
        }

        App.Category.collections.categories.state.sortKey = sort;
        App.Category.collections.categories.state.order = sortDir;
        App.Category.collections.categories.state.currentPage = 1;
        App.Category.collections.categories.fetch();

        return true;
    }
});

App.Category.views.PaginatedView = Backbone.View.extend({
    el: '',
    tagName: 'div',
    className: 'pull-left',
    events: {
        'click button.prev': 'gotoPrev',
        'click button.next': 'gotoNext',
        'click a.page': 'gotoPage'
    },
    template: _.template($('#category-pagination-template').html()),
    initialize: function() {
        this.collection.on('reset', this.render, this);
        this.collection.on('sync', this.render, this);
        this.render();
    },
    render: function() {
        this.$el.html(this.template(this.collection.state));
        return this;
    },
    gotoPrev: function(e) {
        e.preventDefault();
        this.collection.getPreviousPage();
        return this;
    },
    gotoNext: function(e) {
        e.preventDefault();
        this.collection.getNextPage();
        return this;
    },
    gotoPage: function(e) {
        e.preventDefault();
        var page = $(e.target).text();
        this.collection.getPage(parseInt(page));
        return this;
    }
});

</script>

<script type="text/javascript">
    $(function(){

        // for populating backbonejs properties
        var key = 'section-{{ section_id }}';
        var selectedCategories = {{ categories|json_encode()|raw }};
        App.Category.Container = $('#' + key);

        // category model collection
        App.Category.collections.categories = new App.Category.collections.PaginatedCollection({
            url: App.serverURL + 'admin/category/'
        });

        // selected category model collection
        App.Category.collections.selected_categories = new App.Category.collections.SelectedCategoryCollection();

        // selected category listing
        App.Category.views.selected_categories = new App.Category.views.SelectedCategoryList({
            collection: App.Category.collections.selected_categories,
            el: App.Category.Container.find('.selected-category-list')
        });

        if (selectedCategories.length > 0) {
            for (var x = 0; x < selectedCategories.length; x++) {
                var aCategory = selectedCategories[x];
                var aModel = new App.Category.models.SelectedCategory(aCategory);
                App.Category.collections.selected_categories.add(aModel);
            }
        }

        // category listing view, for all categories
        App.Category.views.categories = new App.Category.views.CategoryList({
            collection: App.Category.collections.categories,
            el: App.Category.Container.find('.category-list')
        });

        App.Category.views.categories.selected = {{ category_ids|json_encode()|raw }};
        App.Category.views.categories.selected_view = App.Category.views.selected_categories;

        // pager controls
        App.Category.views.pager = new App.Category.views.PaginatedView({
            collection: App.Category.collections.categories,
            el: App.Category.Container.find('div.grid-pager')
        });

        // grid buttons
        App.Category.views.advfilters = new App.Category.views.TableButtons({
            el: App.Category.Container.find('div.adv-filters-buttons')
        });

        // fetch category collection and trigger views
        App.Category.collections.categories.fetch();

    });
</script>
