{% extends 'MobileCartAdminBundle::Widgets/Template/edit.html.twig' %}
{% block header_text %}Edit Category{% endblock %}
{% block subheader_text %}Name: {{ entity.name }}{% endblock %}
{% block admin_menu_list %}
    <li>
        <a href="{{ renderGridBackUrl('cart_admin_category') }}"><i class="fa arrow"></i> Back to Categories</a>
    </li>
    {{ parent() }}
{% endblock %}
