{% extends templatePath('Widgets/Template:edit.html.twig', 'admin') %}
{% block header_text %}Edit URL Rewrite{% endblock %}
{% block subheader_text %}URI: {{ entity.requesturi }}{% endblock %}
{% block above_form %}
    <div class="row">
        <div class="col-xs-12 header-buttons">
            <a href="{{ renderGridBackUrl('cart_admin_url_rewrite') }}" class="btn btn-default">Back</a>
        </div>
    </div>
{% endblock %}
