{% extends templatePath('Widgets/Template:index.html.twig', 'admin') %}
{% block header_text %}URL Rewrites{% endblock %}
{% block form_action %}{{ path('cart_admin_url_rewrite') }}{% endblock %}
{% block header_buttons %}
    <a class="btn btn-success" href="{{ path('cart_admin_url_rewrite_new') }}">Create</a>
{% endblock %}
