{% extends 'MobileCartAdminBundle::Widgets/Template/edit.html.twig' %}
{% block header_text %}Edit Shipping Method{% endblock %}
{% block subheader_text %}{{ entity.company }} {{ entity.method }}{% endblock %}
{% block admin_menu_list %}
    <li>
        <a href="{{ renderGridBackUrl('cart_admin_shipping_method') }}"><i class="fa arrow"></i> Back to Shipping Methods</a>
    </li>
    {{ parent() }}
{% endblock %}
