{% extends templatePath('Widgets/Template:index.html.twig', 'admin') %}
{% block header_text %}Shipping Methods{% endblock %}
{% block form_action %}{{ path('cart_admin_shipping_method') }}{% endblock %}
{% block header_buttons %}
    <a class="btn btn-success" href="{{ path('cart_admin_shipping_method_new') }}">Create</a>
{% endblock %}
{% block filter_panel %} {% endblock %}
