<ul class="nav nav-tabs">
    <li class="active">
        <a href="#section-products" data-toggle="tab" aria-expanded="false">Products</a>
    </li>
    <li class="">
        <a href="#section-search" data-toggle="tab" aria-expanded="true">Add Product</a>
    </li>
</ul>
<div class="tab-content">
    <div id="section-products" class="tab-pane tab-panel fade  active in">

        <div class="panel panel-default tab-panel">

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable">
                        <thead class="">
                        <tr>
                            <th>&nbsp;</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Sku</th>
                            <th>Price</th>
                            <th>Qty</th>
                        </tr>
                        </thead>
                        <tbody class="selected-product-list">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div id="section-search" class="tab-pane tab-panel fade">

        <div class="panel panel-default adv-filters">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <a data-toggle="collapse" data-parent="#accordion" class="pull-left btn btn-default" href="#{{ section_id }}-filters-panel">Basic Filters</a>
                    </div>
                    <div class="col-sm-6">
                        <div class="pull-right adv-filters-buttons">
                            <button class="btn btn-primary adv-filters-search">Search</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body panel-collapse in" id="{{ section_id }}-filters-panel">
                <div id="{{ section_id }}-filters-container" class="filters-container">

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="row">
                    <div class="col-md-5 grid-pager pull-left">

                    </div>
                    <div class="col-md-3">

                        <div class="pull-left">
                            <label>Show</label>
                            <select name="per_page">
                                <option value="15">15</option>
                                <option selected="selected" value="30">30</option>
                                <option value="45">45</option>
                                <option value="60">60</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>

            </div>
            <div class="panel-body listing-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable">
                        <thead class="grid-header">

                        </thead>
                        <tbody class="product-list">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
