<ul class="nav nav-tabs">
    <li class="active tab-products-selected">
        <a href="#section-products-selected" data-toggle="tab" aria-expanded="false">Selected Products</a>
    </li>
    <li class="tab-products-search">
        <a href="#section-products-search" data-toggle="tab" aria-expanded="true">Search</a>
    </li>
</ul>
<div class="tab-content">
    <div id="section-products-selected" class="tab-pane tab-panel fade active in">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover dataTable">
                <thead class="selected-grid-header">
                    <tr>
                        <th>&nbsp;</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Sku</th>
                        <th>Price</th>
                        <th>Qty</th>
                    </tr>
                </thead>
                <tbody class="selected-product-list">
                    <tr>
                        <td colspan="6" align="center">No Products Selected</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="section-products-search" class="tab-pane tab-panel fade">
        <div class="panel panel-default adv-filters">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-3">
                        <a data-toggle="collapse" data-parent="#accordion" class="pull-left btn btn-default" href="#{{ section_id }}-filters-panel">Filters</a>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control search-query" name="q" value="" placeholder="Search..." />
                    </div>
                    <div class="col-sm-3">
                        <div class="pull-right adv-filters-buttons">
                            <button class="btn btn-default adv-filters-search"><i class="fa fa-search"> </i></button>
                            <span class="text-center spinner" style="display:none;">
                                <i class="fa fa-spinner fa-spin fa-2x fa-fw margin-bottom"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body panel-collapse collapse" id="{{ section_id }}-filters-panel">
                <div id="{{ section_id }}-filters-container" class="filters-container">

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6" role="group">
                        <div class="grid-pager btn-group input-group pull-right paginator">

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body listing-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable">
                        <thead class="grid-header">

                        </thead>
                        <tbody class="product-list">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
