<ul class="nav nav-tabs">
    <li class="active">
        <a href="#section-shipments" data-toggle="tab" aria-expanded="false">Shipments</a>
    </li>
    <li class="">
        <a href="#section-shipping" data-toggle="tab" aria-expanded="true">Add Shipment</a>
    </li>
</ul>
<div class="tab-content">
    <div id="section-shipments" class="tab-pane tab-panel fade active in">

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover dataTable">
                <thead class="">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Company</th>
                        <th>Method</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody class="selected-method-list">

                </tbody>
            </table>
        </div>
    </div>
    <div id="section-shipping" class="tab-pane tab-panel fade">
        <table class="table table-bordered table-striped table-hover dataTable">
            <thead class="">
                <tr>
                    <th>&nbsp;</th>
                    <th>Company</th>
                    <th>Method</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody class="method-list">

            </tbody>
        </table>
    </div>
</div>
