{% extends templatePath('Widgets/Template:index.html.twig', 'admin') %}
{% block header_text %}Orders{% endblock %}
{% block form_action %}{{ path('cart_admin_order') }}{% endblock %}
{% block header_buttons %}
    <a class="btn btn-success" href="{{ path('cart_admin_order_new') }}">Create</a>
{% endblock %}
