{% extends templatePath('Widgets/Template:edit.html.twig', 'admin') %}
{% block header_text %}Edit Config Setting{% endblock %}
{% block subheader_text %}{{ entity.label }}{% endblock %}
{% block back_button %}
    <a href="{{ renderGridBackUrl('cart_admin_config_setting') }}" class="btn btn-default">Back</a>
{% endblock %}
